/* ====== All Blogs section ====== */
#allBlogs button {
    background-color: #000;
    color: #fff;
    height: 40px;
    padding: 0 40px;
    margin-top: 60px !important;
    text-align: center;
    display: block;
    margin: 0 auto;
}

#allBlogs p {
    color: #000;
    font-weight: 500 !important;
    text-align: center;
    margin-top: 60px;
}

/* ====== End All Blogs section ====== */