/* ====== Contact section ====== */
#contact {
    padding: 70px 0;
}

.details_card svg {
    font-size: 26px;
}

.detail_card h4 {
    color: #000;
    padding-bottom: 10px;
}

.detailCards {
    border-bottom: 1px solid rgb(237 237 237);
    padding-bottom: 50px;
    margin-bottom: 70px;
}

#contact h4 {
    color: #000;
    padding-bottom: 14px;
}

#contact form {
    padding-top: 20px;
    position: relative;
}

#contact form input {
    height: 45px;
    padding: 0 16px;
    width: 100%;
    margin: 12px 0;
    outline: none;
    border: 1px solid rgb(232 232 232);
}

#contact form textarea {
    padding: 16px;
    width: 100%;
    margin: 12px 0;
    outline: none;
    border: 1px solid rgb(232 232 232);
}

#contact form button {
    background-color: #000;
    color: #fff;
    height: 45px;
    padding: 0 30px;
    margin-top: 10px;
}

#contact .address {
    padding-top: 20px;
}

#contact .address p {
    padding-bottom: 20px;
}

.socialIcons a {
    color: #000;
    transition: 0.3s ease;
}

#contact .socialIcons a:hover {
    color: rgb(220 177 74);
}

/* Loader overlay */
.loader-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

/* Loader animation */
.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid rgb(220 177 74);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ====== End Contact section ====== */