/* ====== 1.2 Hero section ====== */
@media all and (max-width: 1440px) {
    #hero .slide {
        padding: 190px 0;
    }
}

@media all and (max-width: 1199px) {
    #hero .slide {
        padding: 150px 0;
    }

    #hero h1 {
        padding-right: 100px;
    }

    #hero p {
        padding-right: 135px;
    }
}

@media all and (max-width: 991px) {
    #hero h1 {
        padding-right: 0;
    }
}

@media all and (max-width: 767px) {
    #hero h1 {
        padding-right: 200px;
    }
}

@media all and (max-width: 480px) {
    #hero h5 {
        padding-bottom: 7px;
    }

    #hero .slide {
        padding: 120px 0;
    }

    #hero p {
        padding-top: 40px;
        padding-bottom: 30px;
    }

    #hero a {
        padding: 14px 20px 12px 20px;
    }

    #hero h5 {
        width: auto;
    }
}

@media all and (max-width: 360px) {
    #hero h1 {
        padding-right: 0;
    }

    #hero p {
        padding-right: 90px;
    }

    /* pagination bullet style */
    .swiper-pagination-bullet {
        width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
        height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
    }

    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 6px);
    }

    .swiper-pagination-bullet-active {
        background: rgb(220 177 74);
    }

    .swiper-pagination {
        margin-bottom: 25px;
    }
}

/* ====== 1.2 Hero section ====== */

/* ====== 1.3 Featured section ====== */
@media all and (max-width: 1199px) {
    #featured img {
        width: 70%;
    }

    #featured p {
        padding: 40px 30px 65px 0;
    }
}

@media all and (max-width: 768px) {
    #featured {
        padding: 70px 0 0 0;
    }

    #featured .row {
        margin-bottom: 70px;
    }

    #featured p {
        padding: 40px 30px 40px 0;
    }
}

@media all and (max-width: 480px) {
    #featured p {
        padding: 30px 0 30px 0;
    }

    #featured {
        padding: 50px 0 0 0;
    }

    #featured .row {
        margin-bottom: 50px;
    }
}

/* ====== End 1.3 Featured section ====== */

/* ====== 1.4 Best Selling section ====== */
@media all and (max-width: 768px) {
    #selling {
        padding: 70px 0 50px 0;
    }
}

@media all and (max-width: 575px) {
    .plus_popup {
        overflow: scroll;
    }
}

@media all and (max-width: 480px) {
    #selling {
        padding: 50px 0 30px 0;
    }
}

/* ====== End 1.4 Best Selling section ====== */

/* ====== 1.5 CountDown section ====== */
@media all and (max-width: 768px) {
    #countdown {
        padding: 70px 0;
    }

    #countdown p {
        padding: 30px 0 30px 0;
    }

    #countdown a {
        margin-top: 50px;
    }
}

/* ====== End 1.5 CountDown section ====== */

/* ====== 1.6 Blog section ====== */
@media all and (max-width: 768px) {
    #blog {
        padding: 70px 0;
    }

    #blog h2 {
        margin-bottom: 50px;
    }
}

@media all and (max-width: 480px) {
    #blog {
        padding: 50px 0;
    }

    #blog h3 {
        padding: 20px 0 12px 0;
    }
}

/* ====== End 1.6 Blog section ====== */

/* ====== 1.7 Newsletter section ====== */
@media all and (max-width: 480px) {
    #newsletter {
        padding: 0;
    }

    #newsletter form {
        height: 45px;
    }

    #newsletter form input {
        padding: 0 110px 0 10px;
    }

    #newsletter form button {
        padding: 0 15px !important;
    }
}

/* ====== End 1.7 Newsletter section ====== */

/* ====== 1.8 Footer section ====== */
@media all and (max-width: 767px) {
    #subFooter img {
        width: 80px !important;
    }

    #subFooter .socialIcons {
        margin-top: 0;
    }

    footer {
        padding: 50px 0;
    }

    #subFooter {
        padding-bottom: 40px;
    }
}

@media all and (max-width: 480px) {
    footer {
        padding: 50px 0;
    }
}

/* ====== End 1.8 Footer section ====== */