/* ====== All Products section ====== */
#product {
    padding: 100px 0;
}

#product h5 {
    color: #000;
    text-align: center;
    padding-top: 14px;
}

#product h5:nth-child(3) {
    color: rgb(153 153 153);
}

.stock h5 {
    color: #fff !important;
}

.pagination button {
    margin: 5px;
    padding: 5px 12px;
    border: none;
    background-color: rgb(245 245 245);
    cursor: pointer;
    font-size: 14px !important;
    font-weight: 600 !important;
}

.pagination button.active {
    background-color: rgb(220 177 74);
    color: white;
}

/* ====== End All Products section ====== */