/* ====== Checkout section ====== */
#checkout {
    padding: 100px 0;
}

#checkout form label {
    display: block;
    color: #000;
    font-weight: 500;
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 10px;
}

#checkout form input {
    width: 100%;
    height: 50px;
    border: 1px solid rgb(232 232 232);
    outline: none;
    padding: 0 10px;
}

#checkout form input::placeholder {
    color: rgb(153 153 153);
}

#checkout form select {
    width: 100%;
    height: 50px;
    border: 1px solid rgb(232 232 232);
    outline: none;
    padding: 0 10px;
}

#checkout form textarea {
    width: 100%;
    border: 1px solid rgb(232 232 232);
    outline: none;
    padding: 10px;
}

.error-border {
    border: 2px solid red;
}

.error-text {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.showCoupon {
    background-color: rgb(244 245 247);
    padding: 16px 30px;
}

.showCoupon svg {
    background-color: rgb(113, 219, 113);
    color: #fff;
    display: inline-block;
    height: 8px;
    width: 8px;
    padding: 4px;
    border-radius: 50%;
}

.coupanForm {
    padding: 25px 30px;
    border: 1px solid rgb(221 221 221);
    margin: 25px 0;
}

.coupanForm input {
    margin: 20px 0;
}

.coupanForm button {
    width: auto !important;
    padding: 0 40px;
}

.showCoupon button {
    background-color: transparent;
    font-weight: 600 !important;
    text-align: left;
    padding: 0;
}

.checkOrder div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(191 191 191);
    padding: 10px 0;
}

.checkOrder {
    background-color: rgb(246 246 246);
    padding: 50px 40px;
    border: 1px solid rgb(191 191 191);
}

.checkOrder div:last-child {
    margin-bottom: 30px;
}

.checkOrder h4 {
    margin-bottom: 10px;
    color: #000;
}

.checkOrder h6 {
    color: #000;
    font-weight: 800 !important;
}

.policy {
    padding: 30px 0;
    color: #000;
}

.policy a {
    color: #000;
    font-weight: 500;
}

#checkout button[type='submit'] {
    width: 100%;
    height: 45px;
    color: #fff;
    background-color: rgb(34 34 34);
}

/* ====== End Checkout section ====== */