/* ============= 01. Reset section ============= */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    background-color: var(--Neutral-100, #FFF);
    font-family: "Manrope", sans-serif;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none !important;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

button:focus {
    outline: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

select {
    user-select: none;
}

label {
    font-weight: normal;
}

iframe {
    width: 100%;
}


/* =====  End of 01. Reset  ====== */

/* global grid setting start*/
@media all and (min-width: 992px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1330px;
    }
}

@media all and (max-width: 1199px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: 1128px;
    }
}

@media all and (max-width: 991px) {

    .container,
    .container-md,
    .container-sm {
        max-width: 970px;
    }
}

/* End of global grid setting*/

/* ====== 1.1 Header section ====== */
header {
    padding: 20px;
    width: 100%;
    top: 0;
    z-index: 999;
}

header.position-absolute {
    position: absolute;
}

header.scrolled {
    position: fixed !important;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header form {
    position: relative;
}

header input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .25);
    padding-bottom: 15px;
    width: 250px;
    outline: none;
    background-color: transparent;
    font-family: "Josefin Sans", serif;
}

header input:focus {
    border-bottom: 1px solid rgb(220 177 74);
}

header form svg {
    font-size: 18px;
}

header input::placeholder {
    font-family: "Josefin Sans", serif;
    font-weight: 500;
    color: #787878;
}

header form button {
    position: absolute;
    top: 10%;
    right: 0;
    background-color: transparent;
}

header a {
    color: #000;
}

.navIcons svg {
    color: #000;
    font-size: 19px;
    padding: 0 8px;
    transition: 0.3s ease;
}

.navIcons span {
    cursor: pointer;
}

.navIcons span:hover svg {
    color: rgb(220 177 74);

}

.navIcons span div {
    background-color: rgb(220 177 74);
    width: fit-content;
    height: 22px;
    padding: 6px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    bottom: -13px;
    right: -5px;
}

.hover-effect:hover .counter h6 {
    color: white;
    transition: color 0.3s ease;
}

/* checkout sidebar */
.checkout_sidebar {
    position: fixed;
    top: 0;
    right: -900px;
    width: 400px;
    background-color: #fff;
    height: 100%;
    z-index: 9999;
    padding: 30px 40px;
    transition: 0.5s ease;
}

.checkout_sidebar svg {
    font-size: 26px;
    cursor: pointer;
}

.checkout_sidebar ul {
    margin: 30px 0;
    height: 220px;
    overflow-y: scroll;
    /* Enables vertical scrolling */
    overflow-x: hidden;
    /* Hides horizontal scrolling */
}

.checkout_sidebar img {
    width: 70px;
}

.checkout_sidebar h6 {
    padding: 2px 0;
}

.checkout_sidebar li {
    display: flex;
    gap: 20px;
    align-items: center;
    position: relative;
    border-bottom: 1px solid rgb(221 221 221);
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.checkout_sidebar li span {
    color: #787878;
}

.checkout_sidebar li svg {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 15px;
    color: #787878;
}

.checkout_sidebar button {
    display: block;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    margin-top: 20px;
    border: 1px solid #000;
    background-color: transparent;
    transition: 0.3s ease;
}

.checkoutBtn {
    background-color: #000 !important;
    color: #fff;
}

.checkout_sidebar button:hover {
    background-color: #000;
    color: #fff;
}

/* menu sidebar */
.menubar {
    position: fixed;
    top: 0;
    right: -900px;
    /* right: 0 !important; */
    width: 400px;
    background-color: #ffffff;
    height: 100%;
    z-index: 9999;
    padding: 30px 40px;
    transition: 0.5s ease;
}

.menubar a {
    color: #000;
    font-weight: 800;
}

.menubar .fa-xmark {
    font-size: 30px;
    margin-bottom: 40px;
}

.menubar li {
    padding: 14px 0;
}

.sideArrow {
    transform: rotate(180deg) !important;
}

.dropdown-list {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: height 0.4s ease, opacity 0.4s ease;
}

.dropdown-list {
    height: auto;
    /* Adjust as needed */
    opacity: 1;
    padding-top: 7px;
}

.dropdown-list li {
    padding: 7px 0;
    border-bottom: 1px solid var(--border);
}

.dropdown-list a {
    color: #464646;
    padding: 5px 0;
    font-weight: 600 !important;
}


.checkOutOverlay {
    position: fixed;
    top: 0;
    right: -3000px;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 8888;
    opacity: 0.5;
}

.checkoutOpen {
    right: 0;
}

/* Responsive */
@media all and (max-width: 991px) {
    .navSearch {
        display: none;
    }
}

@media all and (max-width: 480px) {
    header {
        padding: 20px 10px;
    }

    img[alt='Logo'] {
        width: 90px;
    }

    .checkout_sidebar {
        width: 320px !important;
        padding: 30px 20px;
    }

    .menubar {
        width: 320px !important;
        padding: 30px 20px;
    }
}


/* ====== 1.1 Header section ====== */